#operations {padding: 10px 20px; border: 1px solid #009bf2; width: 540px; margin: 0 auto; display: none; background: #fff;}

#profile {width: 450px; margin: 0 auto; position: relative; padding-top: 20px; margin-top: 20px;}
